.playersList {
    list-style-type: none;
}

.player{
    font-family: monospace;
}

.redBg{
    border: 1px solid red;

}

.yellowBg{
    border: 1px solid yellow;

}

.blueBg{
    border: 1px solid blue;

}
.greenBg{
    border: 1px solid green;

}



.gameContainer{
    width: 100vw;
    height: 100vh;
    
    padding-left: 1vw;
    padding-right: 1vw;
}

button {
    width: fit-content;
    align-self: center;
    
}

input{
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
}

.label {
    width: 45%;
    margin-left: 26%
}
