 <div *ngIf="tokenService.getToken() ; else notLoggedIn">
 
  <div *ngIf = "gameSetUp; else notReady" fxLayoutAlign="space-between"  fxLayout="row" fxFlex = "100%" class="gameContainer"> 
        <div  class = "gameSide" fxFlex="10%"> 
            <span><i class="fa fa-user-circle fa-2x" ></i>{{tokenService.getUsername()}}</span>
          <ul class = "playersList mt-5 ml-2 p-0">
            <li> 
              <i *ngIf="currentPlayerColor == 'red'" class="fa fa-lightbulb-o"
              (click) = "requestHint('red')"></i>
              <span class = "red player mr-1">  {{redPlayer.username}}  {{redPlayer.points}}</span>
              <i *ngIf="currentPlayerColor == 'red'" class="fa fa-play"></i>
              <i *ngIf="currentPlayer == null && redPlayer?.points == max_score" class="fa fa-flag ml-1"></i>
            </li>
            <li>
              <i *ngIf="currentPlayerColor == 'green'" class="fa fa-lightbulb-o"
              (click) = "requestHint('green')"></i>
              <span class = "green player mr-1"  >{{greenPlayer.username}}  {{greenPlayer.points}}</span>
              <i *ngIf="currentPlayerColor == 'green'" class="fa fa-play"></i>
              <i *ngIf="currentPlayer == null && greenPlayer?.points == max_score" class="fa fa-flag ml-1"></i>
            </li>
            <li>
              <i *ngIf="currentPlayerColor == 'yellow'" class="fa fa-lightbulb-o"
              (click) = "requestHint('yellow')"></i>
              <span class = "yellow player mr-1">  {{yellowPlayer.username}}  {{yellowPlayer.points}}</span>
              <i *ngIf="currentPlayerColor == 'yellow'" class="fa fa-play"></i>
              <i *ngIf="currentPlayer == null && yellowPlayer?.points == max_score" class="fa fa-flag ml-1"></i>
            </li>
            <li>
              <i *ngIf="currentPlayerColor == 'blue'" class="fa fa-lightbulb-o"
              (click) = "requestHint('blue')"></i>
              <span class = "blue player mr-1">{{bluePlayer.username}}  {{bluePlayer.points}}</span>
              <i *ngIf="currentPlayerColor == 'blue'" class="fa fa-play"></i>
              <i *ngIf="currentPlayer == null && bluePlayer?.points == max_score" class="fa fa-flag ml-1"></i>
            </li>
          </ul>
    </div>
    
  
    <div  fxFlex = "85%" >
      <app-board [game] = "game" [currentPlayerColor] = "currentPlayerColor" 
       [currentPlayer] = "currentPlayer" [nextMove] = "nextMove"></app-board>
    </div>

</div>

  <app-players-selector *ngIf = "!gameSetUp"></app-players-selector>

</div>

<ng-template #notLoggedIn>
  <div class="mt-4 ml-4">
      Please log in!
      <br><button routerLink = "/login" class="btn btn-primary mt-5">Login</button>
  </div>
</ng-template>

