.titleText {
    text-align: center;
    font-size: 250%;
    font-style: oblique;
    font-family: monospace;
  }

.ml-10{
    margin-left: 10%;
}

.playersContainer{
  width: 100vw;
  height: 90vh;
  /* padding: 10vh 10vw 10vh 10vw; */
  padding-top: 10vh;
  padding-left: 10vw;
  padding-bottom: 15vh;
  padding-right: 10vw;
}

button {
  width: fit-content;
  align-self: center;
  
}


.start-btn {
  margin-left: 46%;
}

.label {
  width: 45%;
  margin-left: 26%
}





input{
  width: 40%;
  margin-left: 30%;
  margin-top: 2%;
}
