.sidenav {
    width: 20vw; 
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

.notifBadge {
    position:absolute;
    left: 80%;
}

.notifContainer {
  position:relative;
}

.welcome {
  text-align: center;
  font-size: 250%;
  font-style: oblique;
  font-family: monospace;
}

.notif{
  z-index: 999;
}