@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html, .mat-card, mat-card-title, mat-card-subtitle, .mat-card-subtitle {
  font-family: "Andale Mono", serif;
  background-color: RGBA(46, 49, 49, 1);
  color: white;
}

#side--menu {
  width: 100%;
  height: 100vh;
  background-color: white;
}