@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body, html, .mat-card, mat-card-title, mat-card-subtitle, .mat-card-subtitle {
  font-family: "Andale Mono", serif;
  background-color: RGBA(46, 49, 49, 1);
  color: white;
}

