<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
  <br><button (click) = "goToLoginPage()" class="btn btn-primary mt-5">Login</button>
</div>

<ng-template #signupForm>
  <div class="col-sm-6 m-5" id = "form">
    <form name="form"  #formGroup="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
        <div *ngIf="formGroup.submitted && username.invalid">
          <div class = "alert alert-danger" *ngIf="username.errors.required">Username is required</div>
          <div class ="alert alert-danger" *ngIf="usernamee.errors.minLength">Username must be at least 4 characters long</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
        <div *ngIf="formGroup.submitted && email.invalid">
          <div class ="alert alert-danger" *ngIf="email.errors.required">Email is required</div>
          <div class ="alert alert-danger" *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="formGroup.submitted && password.invalid">
          <div class ="alert alert-danger" *ngIf="password.errors.required">Password is required</div>
          <div  class ="alert alert-danger" *ngIf="password.errors.minlength">Password must be at least 8 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button (click) = "onSubmit()" class="btn btn-primary">Register</button>
        <div *ngIf="formGroup.submitted && isSignUpFailed" class="alert alert-danger mt-4">
          Signup failed!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>